li{
    background-color: lightpink;
    color:blueviolet;
    text-align: center;
}

h1{
    text-align: center;
    background-color: orange;
    color: skyblue;
}

h3{
    text-align: center;
    color:blueviolet;
}

.description{
    font-family: "Times New Roman", sans-serif;
    font-weight: 500;
    background-color: lightblue;
    color:orangered;
}

.ingredients{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    background-color: lightyellow;
    color:brown;
}

.steps{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: aquamarine;
}