li,
.a{
    background-color: lightpink;
    color:blueviolet;
    text-align: center;
}

h1{
    text-align: center;
    background-color: orange;
    color: skyblue;
}

h3{
    text-align: center;
}

.description{
    font-family: "Venetia", sans-serif;
    font-weight: 500;
    background-color: lightblue;
    color:orange;
}